@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } 
/* marquee design */
.marquee-container{
    overflow: hidden; 
    white-space: nowrap; 
    width: 100%; 
    background-color: #f0f0f0; 
    padding: 10px 0;
  }
  .marquee {
    display: inline-block;
    animation: marquee 10s linear infinite; 
    white-space: nowrap; 
  }
  .marquee span {
    font-size: 18px; 
    color: #333; 
  }






/* shared style */
.btn{
      height: 50px;
      width: 192px;
      border-radius: 12px;
      background: #FEA301;
      color: white;
      border: none;
      font-size: 1.25rem;
      font-weight: 400;
}
.btn2{
    height: 50px;
      width: 192px;
      border-radius: 12px;
      background: black;
      color: white;
      border: none;
      font-size: 1.25rem;
      font-weight: 400;
      margin-top: 24px;
}
.bg-image{
    background-image: url("./assets/bg.png");
    background-size: cover;
}
.bg-color{
    background-color: rgb(250, 244, 232);
}

.font-color{
    color: white;
}

/* common color */
.orange{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}
.sky-light{
    color: #05D4DF;
}
.blue{
    color: #5D58EF;
}



.box-title{
    font-size: 24px;
    font-weight: bold;
    color:#000000
}
.box-des{
    font-size: 14px;
    font-weight: 400;
    color: #808080;
}

.primary-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: #000000;
}


/* navbar style  */


.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.nav2{
    display: flex;
    
}
.nav2 p a{
   
    font-size: 1.25rem;
    font-weight: bold;
    
}

.nav2 a{text-decoration: none;
    margin-left: 32px;

}
h3{
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
}


.navbar-container{
    margin: 20px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  /*  ganjam */
  .nav3 i{
    display: none;
  }                                      
                      /*       banner one part */
                      .container-one{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 35.9rem;
                        margin: 0 140px;
                        
                      
                      }
                      .containerone-content h2{
                         font-size: 3.5rem;
                         font-weight: bold;
                         margin-bottom: 24px;
                         
                      } .containerone-content{
                        
                        margin: 120px 50px 120px 0;
                      }

                      .pera{
                        font-size: 20px;
                        color: #000000;
                        
                      }

                    /*   2ndbanner start */
                    .box1 , .box2 , .box3{
                        height: 100%;
                       
                        height: 476px;
                        width: 367px;
                        border-radius: 18px;
                        border: none;
                        box-shadow: 2px 2px 1px gray;
                    } 
                    .box1-img, .box2-img, .box3-img{
                        margin-top: 90px;
                    }


                    .containertwo{
                        
                        height: 879px;
                        width: 100%;
                        text-align: center;
                        
                        
                        }
                        
                .box-container{
                    margin: 80px 240px 80px 240px;
                    gap: 28px;
                    display: flex;
                    place-items: center;
                    align-items: center;
                    text-align: center;
                   
                }
                
                 .box1 a, .box2 a, .box3 a {
                    text-decoration: none;
                } 
                
    .box1{background: linear-gradient( to top,rgba(253, 248, 248, 0),rgb(240, 250, 255));
       }
    .box2{
        background: linear-gradient( to top,rgba(226, 223, 223, 0),rgb(245, 232, 204));
     }    
     .box3{
        background: linear-gradient( to top,rgba(226, 223, 223, 0),rgb(242, 232, 255, 1));
     } 

     .icon2{
        margin-top: 0;
     }
                                    /*  last banner  */

     /*  button design    */     
     .common-btn {
        font-size: 15px;
        font-weight: 500;
       height: 38px;
       width: 174px;
       background-color: #95B226;  
       color: white;
       border-radius: 47px;
       border: none;
       position: relative;
       top:-23px;
       left:20px
     }    
     .btn3{
       font-size: 15px;
       font-weight: 500;
       height: 38px;
       width: 174px;
       background-color: #3CD8E8;  
       color: white;
       border-radius: 47px;
       border: none;
       position: relative;
       top:-23px;
       left: 15px;
      
     }   
     .btn4{
        font-size: 15px;
        font-weight: 500;
       height: 38px;
       width: 174px;
       background-color: #5D58F0;  
       color: white;
       border-radius: 47px;
       border: none;
       position: relative;
       top:-23px;
       left:20px

     }  .mainstory-container{
        
        
        margin-right: 20px;
     }

     .story-container{
        
        
        margin: 80px 140px 90px 140px;
       
        display:flex;
       
        
        } .story1{
            border-radius: 16px;
            
            padding-bottom: 30%;
            background-color: white;
        }
        .story2{
            border-radius: 16px;
            
            background-color: white;
        }
        .story3{
            border-radius: 16px;
            
            background-color: white;

        }
        .story4{
            border-radius: 16px;
           
            background-color: white;
        }
        .story5{
            border-radius: 16px;
            
            background-color: white;
        }

        .story1-img img , .story2-img img, .story3-img img,.story4-img img,.story5-img img{
            border-radius: 13px;
        }

        
        .laststory-container{
            
            
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2,1fr);
        

        } 
        .last-banner{
            text-align: center;
        }
        /*  footer part  */
        .last-part{
            border: 1px solid #01ACFD;
            height: 519px;
            width: auto;
            background-color: #01ACFD;
        }
        
        .last-part-container{
            margin: 123px 228px 174px 140px;
            border: 1px solid #01ACFD;
            display: flex;
            justify-content: space-around;
            gap: 30px;
        }
         .part1 img , h3 {
            display: inline-block;
        } 
        .title{
            font-size: 2.634rem;
            font-weight: bold;
        }
        .part2 a{
            color: white;
        }
        
        .part1 p{
            margin-top: 20px;
        }
        
        .part2 p{
            margin-bottom: 20px;
           
        }
        .part2 h2{ margin-bottom: 30px;
            
        }
        .part2 a{
            text-decoration: none;
        }
        
        .part3 h2{
            margin-bottom: 20px;
           
        
        } 
          /*  footer edit  */
          footer{margin-top: 10px;

          }
        
    
    
            
      
         
                
              















































  @media screen and (max-width:576px) {
       .nav3 .btn{
        display: none;
        
       }
       .nav1 h3 , .nav2 {display: none;

       }
       .navbar-container {
        display: flex;
        margin: auto;
        padding: 20px;
        border-bottom: 1px solid #FEA301;
        
        } .nav1 img{
        margin-left: 0;
        gap: none;
       }
       .nav3 i{
        display: block;
       }           /*  bannerone part */
       .container-one{
        flex-direction: column-reverse;
        margin-top: 700px;
        margin: 1px solid;
        } 
         .containerone-content{
            text-align: center;
            margin: 100%;
         } 
         .containerone-img img{
            margin-bottom: 0;
            height: 413px;
            width: 336px;
         }     
                /*   2nd container */
                .containertwo{
                    
                    margin: 0;
                }
                  .box-container{
                    flex-direction: column;
                    margin: 0;
                  }
                  .story1{
                    display: none;
                  }
                  .laststory-container{
                    margin-top: 900px;
                    width: fit-content;
                    grid-template-columns: 2,1fr;
                    
                  }
                   
                  .story-container {
                    margin:auto;
                   }
                   .mainstory-container{
                    margin: 0;
                   }
           .story2-img img,.story3-img img,.story4-img img , .story-5-img img{
                        width: 150px;
                    }
                    .common-btn , .btn3, .btn4{
                        width: 80px;
                    }
                     .btn2 {
                        display: inline;
                    }

                    /* footer part */
                    .last-part-container{
                        margin: auto;
                        width: auto;
                        flex-direction: column;
                    }
                    .part1, .part2, .part3{
                        width: auto;
                        margin: auto;
                    }

                    .part1 p{
                        margin-top: 0;
                    }
                    
                    .part2 p{
                        margin-bottom: 0;
                       
                    }
                    .part2 h2{ margin-bottom:0;
                        
                    } footer{
                        margin: 0;
                    }
                    .last-banner > h2{
                        display: none;
                    }
                    .marquee span {
                        font-size: 14px; 
                      }

                    

                
                  
           
       } 